{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %}

{% block conactive %}active{% endblock conactive %}
{% block favicon %}
{% load static %}
<link rel="shortcut icon" href="{% static 'home/contact.ico' %}" type="image/x-icon">
{% endblock favicon %}
{% block main %}



<div class="container my-3">
  <h2>Contact iCoder admin</h2>
  <form class="row g-3" method="POST" action="/contact/" autocomplete="off">{% csrf_token %}
    <div class="col-12">
      <label for="name" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone number</label>
      <input type="tel" class="form-control" name="phone" id="phone">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">How may we help you?</label>
      <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
{% endblock main %}