{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block favicon %}
{% load static %}
<link rel="shortcut icon" href="{% static 'home/home.ico' %}" type="image/x-icon">
{% endblock favicon %}
{% block main %}
<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-4">Welcome to iCoder!</h1>
    <p class="lead">This is a website made to help upload simple blogposts and articles by the user.</p>
    <hr class="my-4">
    <p>It uses a popular python framework <strong>Django</strong></p>
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Go to Blog</a>
  </div>
</div>

<div class="container">
  <h3>Recent blogposts: </h3>

  {% for post in allposts reversed %}
  
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">{{post.timestamp}}</div>
      {% if post.content|length > 60 %}
      <p class="card-text mb-auto">{{post.content | slice:":60"}}...</p>
      {% else %}
      <p class="card-text mb-auto">{{post.content}}</p>
      {% endif %}
      <a href="/blog/{{post.sno}}/" class="stretched-link">Continue reading</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main %}



{% block css %}
<style>
  .jumbotron {
    padding: 4rem 2rem;
  }

  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  div {
    display: block;
  }
</style>
{% endblock css %}



{% block js %}
  
{% endblock js %}